
.pd-table {
    display: block;
    border-collapse: collapse;
    max-width: 100%;
    max-height: 100%;

    font-size: 11px;

    overflow-x: auto;
    overflow-y: auto;

    left: 0;
    top: 0;
}
  
.pd-table td, .pd-table th {
    border: 1px solid white;
    padding: 4px;
}

.pd-table tr { background-color: var(--black); }

.pd-table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: var(--black);
    color: white;
}

.pd-table thead th {
    text-align: center;
}